.promo {
  @include flex-column;
  width: $width__mobil;
  align-items: center;
  justify-content: flex-start;
  background: $white url("../img/index-background-mobile@1x.jpg") top no-repeat;
  min-height: 502px;
  padding: 0 20px;
}

/*элементы блока promo*/
.promo__caption {
  width: 245px;
  font-family: $oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $white;
  margin: 27px 0 0 0;
  padding: 0;
}

.promo__sub-caption {
  font-family: $oswald;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: $white;
  margin: 25px 0 0 0;
  padding: 0;
}

.promo__img {
  display: block;
  margin: 28px 0 0 0;
  width: 280px;
  height: 271px;
  padding: 0;
}

.promo__link {
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;
  margin: 3px 0 0;
  padding: 10px 73px 12px 73px;
  cursor: pointer;
}

@media (min-width: $resolution__tablet) {
  .promo {
    width: $block-size-tablet;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 866px;
    padding: 0;
    background: url("../img/index-can-tablet@1x.jpg") bottom center no-repeat;
  }

  .promo__caption {
    text-align: left;
    width: 450px;
    font-size: 60px;
    color: $black__dark;
    margin: 55px 0 0 87px;
  }

  .promo__sub-caption {
    margin: 44px 0 0 87px;
    font-size: 20px;
    color: $black__dark;
    text-align: left;
  }

  .promo__link {
    font-size: 20px;
    line-height: 1;
    margin: 47px 0 0 89px;
    padding: 17px 29px 15px 26px;
  }

  .promo__img {
    display: none;
  }
}

@media (min-width: $resolution__desktop) {
  .promo {
    width: $block-size-desktop;
    min-height: 576px;
    padding: 0 0 0 80px;
    background: url("../img/index-can-desktop@1x.png") top 28% left 67% no-repeat;
  }

  .promo__caption {
    text-align: left;
    line-height: 1;
    margin: 101px 0 0 0;
  }

  .promo__sub-caption {
    margin: 42px 0 0 0;
  }

  .promo__link {
    margin: 53px 0 0 0;
  }
}
