.promo__sub-caption {
  display: block;
  width: 198px;
  height: 16px;
  font-family: $Oswald;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
