.additional {
  @include flex-column;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.additional__caption {
  align-self: flex-start;
  font-weight: normal;
  font-family: $oswald;
  font-size: 24px;
  line-height: 1;
  margin: 26px 0 34px 0;
}

@media (min-width: $width__tablet) {
  .additional {
    padding: 0 30px;
  }

  .additional__caption {
    font-size: 36px;
    line-height: 1;
    margin: 11px 0 80px 37px;
  }
}

@media (min-width: $width__desktop) {
  .additional {
    position: relative;
    min-height: 506px;
  }

  .additional__caption {
    margin: 16px 0 80px 78px;
  }
}
