.additional-item {
  @include flex-column;
  width: $block-size-280px;
  min-height: 128px;
  border-top: 1px solid $greyish__light;
  border-bottom: 1px solid $greyish__light;
  margin-top: -1px;

  &:last-child {
    margin-top: 0;
  }
}

.additional-item__caption {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1;
  color: $black__lighter;
  text-transform: uppercase;
  font-weight: normal;
  margin: 13px 0 0 2px;
  padding: 0;
}

.additional-item__description {
  @include flex-row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  color: $greyish;
  margin: 13px 0 0 0;
}

.additional-item__button {
  @include reset-link-style;
  align-self: center;
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.25;
  color: $white;
  background-color: $green;
}
