.additional-item {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-top: 1px solid #f2f2f2;
}

.additional-item__caption {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.additional-item__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  color: #444444;
}

.additional-item__button {
  align-self: center;
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}
