.additional-item {
  @include flex-column;
  width: 280px;
  border-top: 1px solid $greyish__light;
}

.additional-item__caption {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1;
  color: $black__lighter;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.additional-item__description {
  @include flex-row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  color: $greyish;
}

.additional-item__button {
  @include reset-link-style;
  align-self: center;
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.25;
  color: $white;
  background-color: $green;
}
