.additional-promo {
  min-height: 363px;
}

.additional-promo__wrapper {
  @include flex-row;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 289px;
  margin: 40px 0 0 0;
  background: $green url("../img/gift-photo-mobile@1x.jpg") no-repeat;
}

.additional-promo__text {
  width: 159px;
  height: 56px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $white;
  margin-bottom: 30px;
}
