.advantages {
  @include flex-column;
  padding: 0 20px;
  width: 280px;
  min-height: 427px;
}

/*элементы блока advantages*/
.advantages__caption {
  font-family: $oswald;
  font-size: 36px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0 0 33px 0;
  padding: 0;
}

.advantages__list {
  @include flex-column;
  @include reset-list-style;
  align-items: flex-end;
}

.advantages__list-item {
  width: 200px;
  min-height: 48px;
  font-size: 14px;
  line-height: 1.29;
  margin: 0 0 26px 0;
  color: $greyish;
}
