.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 210px;
  border-top: 1px solid #f2f2f2;
}

.catalog-item__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.catalog-item__caption {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.25;
}

.catalog-item__row {
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}
