.catalog {
  @include flex-column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid $greyish__light;
}

/*элементы catalog */
.catalog__caption {
  font-family: $oswald;
  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  color: $black__dark;
  margin: 0 0 0 20px;
  padding: 15px 0 28px 0;
}
