.catalog {
  @include flex-column;
  align-items: center;
  border-top: 1px solid $greyish__light;
}
/*элементы catalog */
.catalog__caption {
  font-family: $oswald;
  font-size: 36px;
  line-height: 1.67;
  color: $black__dark;
  margin: 0;
}
