.client-info {
  @include flex-column;
  border: none;
  padding: 0;
}

.client-info__wrapper {
  @include flex-row;

  &:last-child {
    flex-direction: column;
  }
}

.client-info__caption {
  font-family: $oswald;
  font-size: 14px;
  line-height: 1.29;
}
