.comments {
  @include flex-column;
  min-height: 240px;
  width: $block-size-280px;
  border: none;
  padding: 0 20px;
  margin: 0;
}

.comments__caption {
  margin: 28px 0 35px 0;
  padding: 0;
}

.comments__textarea {
  font-size: 16px;
  line-height: 1.13;
  width: 263px;
  height: 135px;
  margin: 0 0 15px 0;
  padding: 13px 0  0 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  resize: none;
}
