.contact {
  @include flex-column;
  justify-content: flex-start;
  width: $width__mobil;
  min-height: 476px;
  background: $white url("../img/bg-map-mobile@1x.png") bottom no-repeat;
}

/*элементы блока contact*/
.contact__wrapper {
  @include flex-row;
  align-self: center;
  justify-content: flex-start;
  width: $block-size-mobil;
  margin: 28px  0 26px 0;
}

.contact__address {
  width: 50%;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  color: $greyish;
  margin: 0;
  padding: 0;
}

.contact__caption {
  width: 50%;
  font-family: $oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.page__wrapper_margin-default {
  margin: 0;
  width: 100%;
}

@media (min-width: $resolution__tablet) {
  .contact {
    margin: 0 auto;
    width: $width__tablet;
    min-height: 598px;
    justify-content: flex-start;
    background: $white url("../img/bg-map-tablet@1x.png") bottom no-repeat;
  }

  .contact__wrapper {
    justify-content: space-between;
    min-height: 83px;
    width: 628px;
    margin: 0  0 55px 0;
  }

  .contact__caption {
    font-size: 20px;
    width: 150px;
  }

  .contact__address {
    @include flex-column;
    justify-content: flex-start;
    width: 155px;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    font-weight: normal;
    padding: 0;
  }

  .contact__address-city {
    margin: 18px 0 0 0;
  }

  .contact__map {
    width: 768px;
    min-height: 395px;
    background: $white url("../img/bg-map-tablet@1x.png") bottom no-repeat;
  }
}

@media (min-width: $resolution__desktop) {
  .contact {
    margin: 0 auto;
    position: relative;
    width: $width__desktop;
    min-height: 400px;
    background: $white url("../img/bg-map-desktop@1x.png") no-repeat;
  }

  .contact__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-self: flex-start;
    width: 570px;
    height: 201px;
    background-color: $white;
  }

  .contact__caption {
    margin-top: 67px;
    margin-left: 77px;
  }

  .contact__address {
    text-align: left;
    margin-top: 65px;
    margin-left: 100px;
  }

  .contact__map {
    display: none;
  }
}
