.contact {
  @include flex-column;
  position: relative;
  justify-content: flex-end;
  min-height: 477px;
}

/*элементы блока contact*/
.contact__wrapper {
  @include flex-row;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: $white;
  min-height: 114px;
  padding: 0 20px;
}

.contact__address {
  width: 50%;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  color: $greyish;
  margin: 0;
  padding: 0;
}

.contact__caption {
  width: 50%;
  font-family: $oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.contact__map {
  z-index: 1;
  margin-top: -39px;
  width: 100%;
  height: auto;
}

@media (min-width: $resolution__tablet) {
  .contact {
    margin: 0 auto;
    padding: 0;
    width: $width__tablet;
    min-height: 598px;
  }

  .contact__wrapper {
    justify-content: space-between;
    align-items: center;
    min-height: 201px;
    padding: 5px 70px 0 70px;
    outline: 1px solid red;
  }

  .contact__caption {
    font-size: 20px;
    width: 150px;
  }

  .contact__address {
    @include flex-column;
    justify-content: flex-start;
    width: 155px;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    font-weight: normal;
    padding: 0;
  }

  .contact__address-city {
    margin: 18px 0 0 0;
  }

  .contact__map {
    width: 767px;
    height: 400px;
    margin: 0;
  }
}

@media (min-width: $resolution__desktop) {
  .contact {
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
    width: $width__desktop;
    min-height: 400px;
  }

  .contact__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-self: flex-start;
    width: 570px;
    height: 201px;
    background-color: $white;
  }

  .contact__caption {
    margin-top: 67px;
    margin-left: 77px;
  }

  .contact__address {
    text-align: left;
    margin-top: 65px;
    margin-left: 100px;
  }

  .contact__map {
    display: none;
  }
}
