.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*элементы блока copyright*/
.copyright__text {
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #444444;
}

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;
  background: #f2f2f2 url("../img/htmlacademy.svg") no-repeat;
}
