.customer-view {
  @include flex-column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
/*элементы блока customer-view*/
.customer-view__caption {
  font-family: $oswald;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
  text-transform: uppercase;
  margin: 34px 20px 0 47px;
  padding: 0;
}

.customer-view__text {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 0;
}

.customer-view__img {
  margin: 35px 0 0 -20px;
  padding: 0;
}

.customer-view-wrapper {
  @include flex-row;
  width: 239px;
  justify-content: space-between;
  align-items: center;
  margin: 31px 0 0 23px;
}
