.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__logo {
  width: 128px;
  height: 24px;
  background: #f2f2f2 url("../img/logo-footer.svg") no-repeat;
}
