.footer {
  @include flex-column;
  background-color: $greyish__light;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__logo {
  width: 128px;
  height: 24px;
  background: $greyish__light url("../img/logo-footer.svg") no-repeat;
}
