/*элементы блока header-navigation*/
.header-navigation__button {
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 23px;
  right: 23px;
  background: $white url("../../img/icon-close.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.header-navigation__link {
  @include reset-link-style;
  font-family: $oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: $black__dark;
  width: 319px;
  padding: 24px 0 24px 0;
  margin: 0;
  border-top: 1px solid $greyish__lighter;
}

.header-navigation__list {
  @include flex-column;
  @include reset-list-style;
  align-content: center;
}

.header-navigation__list-item {
  @include flex-row;
  justify-content: center;
  margin: 0;
  padding: 0;

  &:first-child .header-navigation__link {
    padding: 24px 0 20px 0;
  }
}
