.header {
  @include flex-column;
  position: relative;
  min-height: 265px;
  width: 100%;
  justify-content: flex-end;
}

/*элементы блока header*/
.header__logo {
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  width: 191px;
  height: 39px;
  background: $white url("../img/logo-mobile.svg") center no-repeat;
}

@media (min-width: $resolution__tablet) {
  .header {
    @include flex-row;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 83px;
  }

  .header__logo {
    display: block;
    top: auto;
    bottom: 0;
    left: 0;
    width: 174px;
    height: 59px;
    background: $white url("../img/logo-tablet.svg") center no-repeat;
  }
}

@media (min-width: $resolution__desktop) {
  .header {
    align-items: center;
    min-height: 120px;
  }

  .header__logo {
    width: 203px;
    height: 60px;
    background: $white url("../../img/logo-desktop.svg") center no-repeat;
  }
}
