.header-navigation {
  align-items: center;
  margin-top: 66px;
}

/*элементы блока header-navigation*/

.header-navigation__button {
  display: none;
}

.header-navigation__label {
  display: block;
  width: 24px;
  height: 23px;
  position: absolute;
  top: 23px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.header-navigation__button:not(:checked) + .header-navigation__label {
  background: $white url("../img/icon-mobile-menu.svg") no-repeat;
}

.header-navigation__button:checked + .header-navigation__label {
  background: $white url("../img/icon-close.svg") no-repeat;
}

.header-navigation__button:checked ~ .header-navigation__list {
  @include flex-row;
}

.header-navigation__link {
  @include reset-link-style;
  font-family: $oswald;
  width: $width__mobil;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: $black__dark;
  padding: 24px 0 24px 0;
  margin: 0;
}

.header-navigation__list {
  @include reset-list-style;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  display: none;
}

.header-navigation__list-item {
  @include flex-row;
  justify-content: center;
  border-top: $grey-border;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0 0 0 0;

  &:last-child {
    border-bottom: $grey-border;
  }
}

.header-navigation__link:hover {
  opacity: 0.6;
}

.header-navigation__link:active {
  opacity: 0.3;
}

@media (min-width: $resolution__tablet) {
  .header-navigation {
    margin-bottom: 7px;
    margin-top: 0;
  }

  .header-navigation__label {
    display: none;
  }

  .header-navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    color: $black__lighter;
    padding: 0 0 8px 0;
    width: auto;
  }

  .header-navigation__list {
    @include flex-row;
  }

  .header-navigation__list-item {
    width: 155px;
    border-top: none;
    justify-content: flex-end;
    margin-left: 33px;

    &:first-child {
      width: 70px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .header-navigation__link_select {
    border-bottom: 2px solid $green;
  }

  .header-navigation__link:hover {
    border-color: transparent;
  }

  .header-navigation__link:active {
    border-color: transparent;
  }
}

@media (min-width: $resolution__desktop) {
  .header-navigation {
    margin-bottom: 11px;
  }

  .header-navigation__list {
    width: auto;
  }

  .header-navigation__list-item {
    width: auto;
    padding-top: 4px;
    margin-left: 35px;
  }

  .header-navigation__link {
    font-size: 20px;
    line-height: 1.25;
  }

  .header-navigation__link_select {
    padding-bottom: 9px;
  }

  .header-navigation__link_color {
    color: $white;
    border-color: $white;
  }
}
