/*элементы блока header-navigation*/
.header-navigation__button {
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 23px;
  right: 23px;
  background: #ffffff url("../../img/icon-close.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.header-navigation__link {
  font-family: $Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  width: 319px;
  padding: 24px 0 24px 0;
  margin: 0;
  border-top: 1px solid #e6e6e6;
}

.header-navigation__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation__list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;

  &:first-child .header-navigation__link {
    padding: 24px 0 20px 0;
  }
}
