.label {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.13;
  color: $black__lighter;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: $width__tablet) {
  .label {
    font-size: 20px;
    line-height: 1;
  }
}
