.page {
  margin: 0;
  padding: 0;
  font-family: $arial;
  color: $black__dark;
  background-color: $white;
}

.page__wrapper {
  width: $width__mobil;
  margin: 0 auto;
  outline: 1px solid green;
}

.page__customer {
  background-color: $greyish__light;
}

.page__footer {
  background-color: $greyish__light;
  width: 100%;
  outline: 1px solid purple;
}

.page__wrapper_bg-greyish {
  background-color: $greyish__light;
}

@media (min-width: $resolution__tablet) {
  .page__wrapper {
    padding: 0 30px;
    width: $width__tablet;
  }
}

@media (min-width: $resolution__desktop) {
  .page__wrapper {
    padding: 0 110px;
    width: $width__desktop;
  }

  .page__wrapper_bg {
    background: $white url("../img/index-background-desktop@1x.jpg") right 1px  top   no-repeat;
  }
}
