.page {
  margin: 0 auto;
  padding: 0;
  width: $width__mobil;
  font-family: $arial;
  color: $black__dark;
  background-color: $white;
}

@media (min-width: $width__tablet) {
  .page {
    width: $width__tablet;
  }
}

@media (min-width: $width__desktop) {
  .page {
    width: $width__desktop;
  }

  .page__header_bg {
    background: $white url("../../img/index-background-desktop@1x.jpg") right 1px  top   no-repeat;
  }
}
