.page {
  margin: 0;
  padding: 0;
  font-family: $arial;
  color: $black__dark;
  background-color: $white;
}

.page__wrapper {
  position: relative;
  width: $width__mobil;
  margin: 0 auto;
  padding: 0 20px;
}

.page__customer {
  background: $white linear-gradient(to bottom, transparent 4.3%, $greyish__light 4.3%);
}

.page__footer {
  background-color: $greyish__light;
  width: 100%;
}

.page__wrapper_bg-greyish {
  background-color: $greyish__light;
}

.page__header .page__wrapper {
  @include flex-column;
  align-items: center;
}

.page__wrapper_default {
  @include flex-row;
  justify-content: center;
  padding: 0;
  width: 100%;
}

@media (min-width: $resolution__tablet) {
  .page__wrapper {
    padding: 0 30px;
    width: $width__tablet;
  }

  .page__customer {
    border-top: $grey-border;
    background: $white linear-gradient(to top, transparent  460px, $white 460px), linear-gradient(to right, #f2f2f2 0%, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
  }

  .page__wrapper_default {
    padding: 0;
    width: 100%;
  }

  .page__catalog .page__wrapper_default {
    padding: 0 30px;
  }
}

@media (min-width: $resolution__desktop) {
  .page__wrapper {
    outline: 1px solid purple;
    padding: 0 40px;
    width: $width__desktop;
    overflow: hidden;
  }

  .page__wrapper_bg {
    background: $white url("../img/index-background-desktop@1x.jpg") right 1px  top   no-repeat;
    background-size: 50%;
  }

  .page__wrapper_default {
    padding: 0;
    width: 100%;
  }

  .page__catalog .page__wrapper_default {
    padding: 0 40px;
    width: $width__desktop;
  }

  .page__additional {
    position: relative;
  }
}
