.programm-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.programm-form__main-caption {
  font-family: $Oswald;
  font-size: 36px;
  line-height: 1.67;
}

.programm-form__caption {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 1;
}

.programm-form__text-tutorial {
  font-size: 14px;
  line-height: 1.14;
  color: #444444;
  margin: 0;
  padding: 0;
}

.programm-form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
