.programm {
  width: $block-size-320px;
  padding: 0 20px;
  margin: 0;
}

@media (min-width: $width__tablet) {
  .programm {
    width: $block-size-708px;
    padding: 0 30px;
  }
}

@media (min-width: $width__desktop) {
  .programm {
    width: $block-size-1220px;
    padding: 0 110px;
  }
}
