/*элементы блока social*/
.social__list {
  @include flex-row;
  @include reset-list-style;
  width: $block-size-mobil;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid $color-social__list-border;
  border-bottom: 1px solid $color-social__list-border;
}

.social__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 63px;
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
}

.social__link_icon-vk {
  background: $greyish__light url("../img/icon-vk-mobile.svg") center no-repeat;
  background-size: 22px 12px;
}

.social__link_icon-instagram {
  background: $greyish__light url("../img/icon-insta-mobile.svg") center no-repeat;
  background-size: 17px 17px;
}

.social__link_icon-facebook {
  background: $greyish__light url("../img/icon-fb-mobile.svg") center no-repeat;
  background-size: 10px 19px;
}

@media (min-width: $width__tablet) {
  .social__list {
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    min-height: 45px;
    border: none;
    margin: 0 0 0 119px;
  }

  .social__list-item {
    width: 32px;
    height: 32px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social__link_icon-vk {
    background: $greyish__light url("../img/icon-vk-mobile.svg") top no-repeat;
    width: 30px;
    height: 16px;
    background-size: 100%;
  }

  .social__link_icon-instagram {
    background: $greyish__light url("../img/icon-insta-mobile.svg") top no-repeat;
    width: 23px;
    height: 23px;
    background-size: 100%;
  }

  .social__link_icon-facebook {
    background: $greyish__light url("../img/icon-fb-mobile.svg") top no-repeat;
    width: 14px;
    height: 28px;
    background-size: 100%;
  }
}
