.additional {
  @include flex-column;
  position: relative;
  width: $width__mobil;
  flex-direction: column;
  align-items: flex-start;
}

.additional__caption {
  align-self: flex-start;
  font-weight: normal;
  font-family: $oswald;
  font-size: 24px;
  line-height: 1;
  margin: 29px 0 34px 0;
}

.additional__caption::after {
  display: block;
  position: absolute;
  content: "";
  top: 43px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent 84%, #68b738  84%);
}

@media (min-width: $resolution__tablet) {
  .additional {
    width: $width__tablet;
    min-height: 1025px;
  }

  .additional__caption {
    font-size: 36px;
    line-height: 1;
    margin: 7px 0 81px 36px;
  }

  .additional__caption::after {
    display: block;
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #68b738  4%, transparent 4%, transparent 57%, #68b738  57%);
  }

  .additional__wrapper {
    width: 100%;
  }
}

@media (min-width: $resolution__desktop) {
  .additional {
    @include flex-row;
    width: $width__desktop;
    min-height: 506px;
  }

  .additional__caption {
    margin: 16px 0 80px 78px;
  }
}
