.additional {
  @include flex-column;
  width: $block-size-mobil;
  align-items: stretch;
}

.additional__caption {
  align-self: flex-start;
  font-weight: normal;
  font-family: $oswald;
  font-size: 24px;
  line-height: 1;
  margin: 29px 0 34px 0;
}

/*.additional::after {
  display: block;
  position: absolute;
  content: "";
  top: 43px;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent 84%, #68b738  84%);
}*/

@media (min-width: $resolution__tablet) {
  .additional {
    width: $block-size-tablet;
    min-height: 1025px;
  }

  .additional__caption {
    font-size: 36px;
    line-height: 1;
    margin: 7px 0 81px 36px;
  }

  /*
  .additional::after {
    display: block;
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #68b738  4%, transparent 4%, transparent 57%, #68b738  57%);
  }
  */

  .additional__wrapper {
    width: 100%;
  }
}

@media (min-width: $resolution__desktop) {
  .additional {
    @include flex-row;

    width: $block-size-desktop;
    min-height: 506px;
    justify-content: space-between;
  }

  .additional__caption {
    display: block;
    background: white;
    outline: 1px solid red;
    margin: 16px 0 80px 0;
    z-index: 2;
  }

  .additional__wrapper {
    width: 895px;
  }

  .additional__caption::after {
    display: block;
    position: absolute;
    content: "";
    top: 39px;
    left: 0;
    width: 100vw;
    height: 3px;
    z-index: 1;
    background: linear-gradient(to right, #68b738  5%, transparent 5%, transparent 33.5%, #68b738  33.5%);
  }
}
