.catalog {
  @include flex-column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top: $grey-border;
}

/*элементы catalog */
.catalog__caption {
  align-self: flex-start;
  font-family: $oswald;
  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  color: $black__dark;
  margin: 13px 0 0 20px;
  padding: 0 0 0 0;
}

.catalog__wrapper {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 28px 0 0 0;
}

@media (min-width: $resolution__tablet) {
  .catalog {
    width: $width__tablet;
    border-top: none;
  }

  .catalog__caption {
    font-size: 60px;
    line-height: 1;
    padding: 0;
    margin: 56px 0 0 0;
  }

  .catalog__wrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

@media (min-width: $resolution__desktop) {
  .catalog {
    width: $width__desktop;
  }
}
