.catalog-item {
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  min-height: 209px;
  width: $width__mobil;
  padding: 0;
  margin: 0;
  border-top: $grey-border;
}

.catalog-item__wrapper {
  @include flex-row;
  align-items: flex-start;
  justify-content: center;
  width: $block-size-mobil;
  min-height: 144px;
}

.catalog-item__images {
  width: 50%;
  padding: 0;
  margin: 0;
}

.catalog-item__description {
  width: 50%;
  margin: 0;
  padding: 0;
}

.catalog-item__caption {
  width: 90px;
  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 22px 0 0 0;
}

.catalog-item__table {
  margin-top: 12px;
  width: 100%;
  border-collapse: collapse;
}

.catalog-item__row {
  font-size: 12px;
  line-height: 1.2;
  color: $greyish;
  margin: 0;
  padding: 0;
}

.catalog-item__col-right {
  text-align: left;
}

.catalog-item__col-left {
  text-align: right;
}

.catalog-item__img {
  display: block;
  width: 140px;
  height: 144px;
  margin: 0;
  padding: 0;
}

.catalog-item__button {
  padding: 11px 105px 10px 112px;
}

@media (min-width: $resolution__tablet) {
  .catalog-item {
    background-image: linear-gradient(to top, $greyish__light 431px, transparent 431px);
    align-items: center;
    min-height: 514px;
    width: 324px;
    border: none;
    padding: 0;
    margin-bottom: 57px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog-item__wrapper {
    @include flex-column;
    align-items: center;
    justify-content: center;
    min-height: 433px;
  }

  .catalog-item__caption {
    font-size: 20px;
    line-height: 1;
    max-width: none;
    width: 150px;
    text-align: center;
    margin: 30px 0 5px 0;
    padding: 0;
  }

  .catalog-item__table {
    min-height: 93px;
    width: 250px;
    margin: 0 0 30px 0;
    padding: 0;
  }

  .catalog-item__row {
    height: 33px;
    font-size: 16px;
    border-bottom: 1px solid $color-customer__border;
    font-weight: normal;
    line-height: 1;
    padding: 0;
  }

  .catalog-item__description {
    @include flex-column;
    align-items: center;
    justify-content: space-between;
    min-height: 50%;
    width: 100%;
  }

  .catalog-item__images {
    @include flex-row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50%;
  }

  .catalog-item__button {
    padding: 11px 93px 10px 95px;
  }
}

@media (min-width: $resolution__desktop) {
  .catalog-item {
    @include flex-column;
    min-height: 517px;
    width: 245px;
    padding: 0;
    margin: 0 0 58px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog-item__wrapper {
    @include flex-column;
    align-items: center;
    justify-content: flex-end;
    min-height: 438px;
    width: 100%;
  }

  .catalog-item__caption {
    text-align: center;
    width: 150px;
    font-size: 20px;
    line-height: 1;
    margin: 31px 0 15px 0;
  }

  .catalog-item__table {
    width: 169px;
    margin: 0 0 35px 0;
  }

  .catalog-item__description {
    justify-content: flex-start;
  }

  .catalog-item__button {
    padding: 11px 53px 10px 55px;
  }

  .catalog-item__col-left,
  .catalog-item__col-right {
    padding: 11px 0 5px 0;
  }
}
