.catalog-extension {
  @include flex-column;
  align-items: center;
  justify-content: flex-start;
  border-top: $grey-border;
  border-bottom: $grey-border;
  min-height: 210px;
  width: 100%;
}

.catalog-extension__caption {
  font-family: $oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  /*margin: 80px 0 0 0;*/
  margin: 25px 0 0 0;
  text-transform: uppercase;
}

.catalog-extension__text {
  font-size: 12px;
  line-height: 1.33;
  color: $greyish;
  margin: 8px 0 0 0;
}

.catalog-extension__button-plus {
  margin: 25px 0 0 0;
  width: 31px;
  height: 31px;
  background: url("../img/icon-plus-mobile.svg") center no-repeat;
  opacity: 0.2;
  cursor: pointer;
}

.catalog-extension__button {
  @include reset-link-style;
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 10px 94px 10px 97px;
}

@media (min-width: $resolution__tablet) {
  .catalog-extension {
    justify-content: flex-end;
    border: 1px solid $greyish__light;
    min-height: 430px;
    width: 322px;
    margin: 84px 0 0 0;
    padding: 0;
  }

  .catalog-extension__caption {
    width: 150px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  .catalog-extension__text {
    width: 200px;
    text-align: center;
    font-size: 16px;
    margin: 21px 0 0 0;
  }

  .catalog-extension__button {
    margin: 83px 0 39px 0;
    padding: 10px 79px 10px 81px;
  }

  .catalog-extension__button-plus {
    margin: 0 0 25px 0;
    width: 60px;
    height: 60px;
    background: url("../img/icon-plus.svg") center no-repeat;
  }
}

@media (min-width: $resolution__desktop) {
  .catalog-extension {
    width: 245px;
    min-height: 432px;
  }

  .catalog-extension__caption {
    margin: 0 0 25px 0;
  }

  .catalog-extension__text {
    margin: 0 0 84px 0;
    line-height: normal;
  }

  .catalog-extension__button {
    margin: 0 0 35px 0;
    /*padding: 10px 79px 10px 81px;*/
    padding: 13px 39px 12px 41px;
  }

  .catalog-extension__button-plus {
    margin: 0 0 50px 0;
  }
}
