.add-info {
  @include flex-column;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 158px;
  width: $width__mobil;
  padding: 15px 20px 10px  20px;
  margin: 0;
  border: none;
  border-top: 1px solid $greyish__lighter;
  border-bottom: 1px solid $greyish__lighter;
  outline: 1px solid red;
  position: relative;
}

.add-info__label {
  position: relative;
  margin: 0 0 0 44px;
  padding: 0;
}

.add-info__label::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -44px;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
}


.add-info__input-radio:checked + .add-info__label::before {
  top: 4px;
  left: -35px;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
}

.add-info__input-radio {
  display: none;
}

@media (min-width: $resolution__tablet) {
  .add-info {
    width: 628px;
    min-height: 194px;
    border: 1px solid $greyish__lighter;
  }

  .add-info__label {
    margin: 33px 0 0 86px;
  }
}

@media (min-width: $resolution__desktop) {
  .add-info {
    width: 50%;
    margin-bottom: 20px;
  }

  .add-info__label {
    margin: 33px 0 0 87px;
  }
}
