.client-info {
  @include flex-column;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0;
  width: $block-size-mobil;
  min-height: 260px;
  outline: 1px solid blue;
}

.client-info__wrapper {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  outline: 1px solid red;
}

.client-info__content {
  @include flex-column;
  justify-content: space-between;
  width: 100%;
  min-height: 160px;
  padding: 0 0 0 0;
  margin: 0 0 22px 0;
  outline: 1px solid green;
}

.client-info__caption {
  width: 226px;
  font-family: $oswald;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 0 0;
}

.client-info__input-text_name {
  width: 229px;
}

.client-info__input-text_weight {
  width: 204px;
}

.client-info__input-text_age {
  width: 172px;
}

.client-info__input-radio {
  display: none;
}

@media (min-width: $resolution__tablet) {
  .client-info {
    width: $block-size-tablet;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 450px;
  }

  .client-info__caption {
    font-size: 20px;
    line-height: 1.5;
    width: 350px;
    margin: 58px 0 0 40px;
  }

  .client-info__content {
    @include flex-column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    padding: 0 0 0 0;
    margin: 0 0 50px 0;
    outline: 1px solid green;
  }

  .client-info__wrapper {
    width: 631px;
    margin: 0 0 20px 3px;
  }

  .client-info__label {
    padding: 0;
    margin: 0 0;
  }

  .client-info__input-text_name {
    width: 567px;
  }

  .client-info__input-text_weight {
    width: 536px;
  }

  .client-info__input-text_age {
    width: 497px;
  }

  .client-info__input-text {
    padding: 15px 0 16px 17px;
  }
}

@media (min-width: $resolution__desktop) {
  .client-info {
    width: 50%;
  }

  .client-info__caption {
    margin: 55px 0 65px 0;
  }

  .client-info__wrapper {
    margin: 0 0 20px 0;
  }

  .client-info__label {
    margin: 0 16px 0 0;
  }

  .client-info__label_weight {
    margin-right: 19px;
  }
}
