.comments {
  @include flex-column;
  justify-content: space-between;
  min-height: 240px;
  width: $block-size-mobil;
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
}

.comments__caption {
  padding: 0;
  margin: 15px 0 0 0;
  font-weight: normal;
}

.comments__textarea {
  font-size: 16px;
  line-height: 1.13;
  width: $block-size-mobil;
  min-height: 150px;
  margin: 0 0 15px 0;
  padding: 11px 0 0 13px;
  border: $grey-border;
  text-transform: uppercase;
  resize: none;
}

@media (min-width: $resolution__tablet) {
  .comments {
    min-height: 350px;
    width: $block-size-tablet;
    padding: 0 30px;
    align-items: center;
    outline: 1px solid red;
  }

  .comments__caption {
    align-self: flex-start;
    font-size: 36px;
    line-height: 1;
    margin: 57px 0 0 10px;
  }

  .comments__textarea {
    padding: 8px 0 0 18px;
    margin: 0 0 7px 0;
    width: 630px;
    min-height: 173px;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $resolution__desktop) {
  .comments {
    min-height: 360px;
    width: $width__desktop;
  }

  .comments__textarea {
    margin: 0 0 0 0;
    height: 163px;
    width: 1200px;
  }
}
