.complementary {
  @include flex-column;
  justify-content: space-between;
  min-height: 262px;
  width: $block-size-mobil;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.complementary__wrapper {
  @include flex-column;
  width: 100%;
  min-height: 186px;
}

.complementary__caption {
  font-weight: normal;
  margin: 11px 0 0 0;
  padding: 0 0 0 0;
}


.complementary__label {
  margin: 0 0 24px 45px;
  position: relative;
}

.complementary__label::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -45px;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
}

.complementary__input-checkbox:checked + .complementary__label::after {
  background: url("../img/icon-tick.svg") center no-repeat;
}

.complementary__input-checkbox {
  display: none;
}

.complementary__label:hover::after {
  border-color: #bababa;
}

.complementary__label:active {
  opacity: 0.3;
}


@media (min-width: $resolution__tablet) {
  .complementary {
    width: $block-size-tablet;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 282px;
    padding: 0 30px;
    margin: 0;
  }

  .complementary__caption {
    margin: 58px 0 0 9px;
  }

  .complementary__wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 150px;
    margin: 0 0 0 0;
  }

  .complementary__label {
    width: 180px;
    margin: 0 56px 0 68px;
  }

  .complementary__label::after {
    top: -8px;
    left: -59px;
    width: 40px;
    height: 40px;
  }

  .complementary__input-checkbox:checked + .complementary__label::after {
    background: url("../img/icon-tick.svg") center no-repeat;
    background-size: 21px 16px;
  }
}

@media (min-width: $resolution__desktop) {
  .complementary {
    justify-content: space-between;
    min-height: 165px;
    padding: 0;
    width: $block-size-desktop;
    position: relative;
  }

  .complementary__caption {
    margin: 23px 0 0 0;
  }

  .complementary__wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    width: 100%;
    min-height: 40px;
  }

  .complementary__label {
    width: 285px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .complementary__label::after {
    top: -7px;
    width: 40px;
    height: 40px;
  }

  .complementary__label_sweetener {
    padding: 0 0 0 57px;

    &::after {
      left: 0;
    }
  }

  .complementary__label_water {
    padding: 0 0 0 71px;

    &::after {
      left: 13px;
    }
  }

  .complementary__label_milk {
    padding: 0 0 0 85px;

    &::after {
      left: 27px;
    }
  }

  .complementary__label_vitamins {
    padding: 0 0 0 98px;

    &::after {
      left: 40px;
    }
  }
}
