.complementary {
  @include flex-column;
  justify-content: space-between;
  width: $block-size-mobil;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.complementary__wrapper {
  @include flex-column;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.complementary__caption {
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 12px 0 0 0;
  z-index: 2;
  background: white;
}


.complementary__label {
  width: 100%;
  padding: 15px 0 10px 45px;
  text-align: left;
  position: relative;
}

.complementary__label::after {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
}

.complementary__input-checkbox:checked + .complementary__label::after {
  background: url("../img/icon-tick.svg") center no-repeat;
}

.complementary__input-checkbox {
  display: none;
}

.complementary__label:hover::after {
  border-color: #bababa;
}

.complementary__label:active {
  opacity: 0.3;
}


@media (min-width: $resolution__tablet) {
  .complementary {
    width: $block-size-tablet;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
    margin: 0;
  }

  .complementary::after {
    top: 81px;
    left: -30px;
    width: $width__tablet;
  }

  .complementary__caption {
    margin: 0 0 0 0;
    padding: 60px 0 0 10px;
    width: 292px;
  }

  .complementary__wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0 0 0;
  }

  .complementary__label {
    width: 50%;
    padding: 11px 0 11px 68px;
    margin-top: 30px;
  }

  .complementary__label::after {
    top: 0;
    left: 10px;
    width: 40px;
    height: 40px;
  }

  .complementary__label_water {
    padding-left: 88px;
  }

  .complementary__label_water::after {
    left: 30px;
  }

  .complementary__label_vitamins {
    padding-left: 88px;
  }

  .complementary__label_vitamins::after {
    left: 30px;
  }

  .complementary__input-checkbox:checked + .complementary__label::after {
    background: url("../img/icon-tick.svg") center no-repeat;
    background-size: 21px 16px;
  }
}

@media (min-width: $resolution__desktop) {
  .complementary {
    justify-content: space-between;
    padding: 0;
    width: $block-size-desktop;
    position: relative;
  }

  .complementary::after {
    top: 46px;
    left: -110px;
    width: 1440px;
  }

  .complementary__caption {
    margin: 0 0 0 0;
    padding: 23px 0 0 0;
  }

  .complementary__wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 65px;
  }

  .complementary__label {
    width: 285px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .complementary__label::after {
    top: -7px;
    width: 40px;
    height: 40px;
  }

  .complementary__label_sweetener {
    padding: 0 0 0 57px;

    &::after {
      left: 0;
    }
  }

  .complementary__label_water {
    padding: 0 0 0 71px;

    &::after {
      left: 13px;
    }
  }

  .complementary__label_milk {
    padding: 0 0 0 85px;

    &::after {
      left: 27px;
    }
  }

  .complementary__label_vitamins {
    padding: 0 0 0 98px;

    &::after {
      left: 40px;
    }
  }
}
