.complementary {
  @include flex-column;
  justify-content: space-between;
  min-height: 262px;
  width: $block-size-mobil;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.complementary__wrapper {
  @include flex-column;
  width: 100%;
  min-height: 186px;
}

.complementary__caption {
  font-weight: normal;
  margin: 11px 0 0 0;
  padding: 0 0 0 0;
}


.complementary__label {
  margin: 0 0 24px 45px;
  position: relative;
}

.complementary__label::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -45px;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
}

.complementary__input-checkbox:checked + .complementary__label::after {
  background: url("../img/icon-tick.svg") center no-repeat;
}

.complementary__input-checkbox {
  display: none;
}


@media (min-width: $resolution__tablet) {
  .complementary {
    width: $block-size-tablet;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 282px;
    padding: 0 30px;
    margin: 0;
    outline: 1px solid green;
  }

  .complementary__caption {
    margin: 58px 0 0 9px;
    outline: 1px solid red;
  }

  .complementary__wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 150px;
    margin: 0 0 0 0;
    outline: 1px solid red;
  }

  .complementary__label {
    width: 180px;
    margin: 0 56px 0 68px;
  }

  .complementary__label::after {
    top: -8px;
    left: -59px;
    width: 40px;
    height: 40px;
  }

  .complementary__input-checkbox:checked + .complementary__label::after {
    background: url("../img/icon-tick.svg") center no-repeat;
    background-size: 21px 16px;
  }
}

@media (min-width: $resolution__desktop) {
  .complementary {
    min-height: 70px;
    width: $width__desktop;
  }

  .complementary__caption {
    margin: 60px 0 0 0;
  }

  .complementary__wrapper {
    align-items: flex-end;
    margin: 0;
    width: auto;
    min-height: 100px;
  }
}
