.contact-details {
  @include flex-column;
  border: none;
  padding: 0;
  width: $width__mobil;
  margin: 0;
  outline: 1px solid red;
}

.contact-details__wrapper {
  @include flex-row;
  align-items: center;
}

.contact-details__wrapper_email {
  margin: 33px 0 0 0;
}

.contact-details__wrapper_telefon {
  margin: 13px 0 0 0;
}

.contact-details__caption {
  margin: 27px 0 0 0;
  padding: 0;
  font-weight: normal;
}

.contact-details__label {
  margin: 0 11px 0 0;
}

.contact-details__input-text {
  flex-grow: 1;
}

@media (min-width: $resolution__tablet) {
  .contact-details {
    width: $width__tablet;
  }

  .contact-details__caption {
    margin: 75px 0 76px 40px;
    font-size: 36px;
    line-height: 1;
  }

  .contact-details__wrapper {
    width: 633px;
    margin: 0 0 20px 39px;
  }

  .contact-details__label_email {
    margin: 0 18px 0 0;
    padding-left: 3px;
  }

  .contact-details__label_telefon {
    margin: 0 15px 0 0;
  }
}

@media (min-width: $resolution__desktop) {
  .contact-details {
    width: $width__desktop;
  }

  .contact-details__caption {
    margin: 50px 0 76px 0;
  }

  .contact-details__content {
    @include flex-row;
    justify-content: space-between;
  }

  .contact-details__wrapper {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .contact-details__label_email {
    padding: 0;
    margin: 0 19px 0 2px;
  }
}
