.contact-details {
  @include flex-column;
  justify-content: space-between;
  border: none;
  padding: 0;
  width: $block-size-mobil;
  min-height: 230px;
  margin: 0;
  position: relative;
}

.contact-details__wrapper {
  @include flex-row;
  align-items: center;
}

.contact-details__content {
  @include flex-column;
  width: 280px;
  align-content: flex-start;
  justify-content: space-between;
  min-height: 100px;
  margin-bottom: 15px;
}


.contact-details__caption {
  margin: 30px 0 0 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
}


.contact-details__label {
  margin: 0 11px 0 0;
}

.contact-details__input-text {
  padding-right: 20px;
  position: relative;
}

.contact-details__input-text_telefon {
  width: 202px;
}

.contact-details__input-text_email {
  width: 219px;
}

.contact-details__wrapper_telefon,
.contact-details__wrapper_email {
  position: relative;
}

.contact-details__wrapper_email::after {
  position: absolute;
  content: "";
  display: block;
  right: 15px;
  top: 12px;
  width: 18px;
  height: 14px;
  background: url("../img/icon-mail.svg") center no-repeat;
}

.contact-details__wrapper_telefon::after {
  position: absolute;
  content: "";
  display: block;
  right: 12px;
  top: 9px;
  width: 21px;
  height: 21px;
  background: url("../img/icon-phone.svg") center no-repeat;
}

@media (min-width: $resolution__tablet) {
  .contact-details {
    min-height: 320px;
    width: $block-size-tablet;
    padding: 0 0 0 38px;
    align-items: self-start;
    justify-content: space-between;
    outline: 1px solid green;
  }

  .contact-details__caption {
    margin: 67px 0 0 0;
    padding: 0;
    font-size: 36px;
    line-height: 1.5;
  }

  .contact-details__wrapper {
    width: 633px;
    margin: 0 0 0 0;
  }

  .contact-details__content {
    width: 632px;
    min-height: 124px;
    margin-bottom: 8px;
    outline: 1px solid red;
    align-items: center;
  }

  .contact-details__label {
    margin: 0 16px 0 0;
    padding: 0;
  }

  .contact-details__label_email {
    padding: 0 0 0 5px;
  }

  .contact-details__input-text_telefon {
    width: 534px;
    padding: 14px 0 16px 20px;
  }

  .contact-details__input-text_email {
    width: 551px;
    padding: 14px 0 16px 20px;
  }

  .contact-details__wrapper_email::after {
    right: 18px;
    top: 20px;
  }

  .contact-details__wrapper_telefon::after {
    right: 15px;
    top: 18px;
  }
}

@media (min-width: $resolution__desktop) {
  .contact-details {
    width: $width__desktop;
  }

  .contact-details__caption {
    margin: 50px 0 76px 0;
  }

  .contact-details__content {
    @include flex-row;
    justify-content: space-between;
  }

  .contact-details__wrapper {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .contact-details__label_email {
    padding: 0;
    margin: 0 19px 0 2px;
  }
}
