.contact-details {
  @include flex-column;
  justify-content: space-between;
  border: none;
  padding: 0;
  width: $block-size-mobil;
  margin: 0;
  position: relative;
}

/*.contact-details::after {
  display: block;
  position: absolute;
  content: "";
  top: 41px;
  left: -20px;
  width: $width__mobil;
  height: 3px;
  z-index: 1;
  background: #68b738;
}*/

.contact-details__wrapper {
  @include flex-row;
  align-items: center;
  margin-bottom: 14px;
}

.contact-details__content {
  @include flex-column;
  width: 280px;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 35px;
}

.contact-details__caption {
  margin: 27px 0 0 0;
  padding: 0 0 0 0;
  line-height: 1;
  font-weight: normal;
  display: block;
  width: 220px;
  z-index: 2;
  background: white;
  text-align: left;
}

.contact-details__label {
  margin: 0 11px 0 0;
}

.contact-details__input-text {
  padding-right: 20px;
  position: relative;
}

.contact-details__input-text_telefon {
  width: 202px;
}

.contact-details__input-text_email {
  width: 219px;
}

.contact-details__wrapper_telefon,
.contact-details__wrapper_email {
  position: relative;
}

.contact-details__wrapper_email::after {
  position: absolute;
  content: "";
  display: block;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 14px;
  background: url("../img/icon-mail.svg") center no-repeat;
}

.contact-details__wrapper_telefon::after {
  position: absolute;
  content: "";
  display: block;
  right: 12px;
  top: 12px;
  width: 21px;
  height: 21px;
  background: url("../img/icon-phone.svg") center no-repeat;
}

@media (min-width: $resolution__tablet) {
  .contact-details {
    width: $block-size-tablet;
    padding: 0 0 0 40px;
    align-items: self-start;
    justify-content: space-between;
  }

  .contact-details__caption {
    margin: 68px 0 0 0;
    padding: 0;
    width: 520px;
    font-size: 36px;
    line-height: 1.5;
    text-align: left;
  }

  .contact-details__wrapper {
    width: 633px;
    justify-content: flex-end;
    margin: 0 0 20px 0;
  }

  .contact-details__content {
    width: 632px;
    min-height: 124px;
    align-items: center;
    margin: 66px 0 0 0;
  }

  .contact-details__label {
    margin: 0 15px 0 0;
    padding: 0;
  }

  .contact-details__input-text_telefon {
    width: 534px;
    padding: 14px 0 16px 20px;
  }

  .contact-details__input-text_email {
    width: 551px;
    padding: 14px 0 16px 20px;
  }

  .contact-details__wrapper_email::after {
    right: 18px;
    top: 20px;
  }

  .contact-details__wrapper_telefon::after {
    right: 15px;
    top: 18px;
  }
}

@media (min-width: $resolution__desktop) {
  .contact-details {
    min-height: 251px;
    width: $block-size-desktop;
    padding: 0;
  }

  .contact-details::after {
    top: 73px;
    left: -110px;
    width: 1440px;
  }

  .contact-details__caption {
    margin: 40px 0 0 -41px;
  }

  .contact-details__label {
    margin: 0 17px 0 0;
    padding: 0;
  }

  .contact-details__content {
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }

  .contact-details__wrapper {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .contact-details__label_email {
    padding: 0;
    margin: 0 19px 0 2px;
  }

  .contact-details__label_telefon {
    padding: 0 0 0 0;
  }

  .contact-details__input-text_telefon {
    padding: 14px 0 16px 15px;
  }

  .contact-details__wrapper_telefon::after {
    right: 19px;
  }

  .contact-details__wrapper_email::after {
    right: 19px;
  }

  .contact-details__input-text_email {
    padding: 14px 0 16px 18px;
  }
}
