.programm {
  width: $width__mobil;
  padding: 0;
  margin: 0;
}

@media (min-width: $resolution__tablet) {
  .programm {
    width: $width__tablet;
  }
}

@media (min-width: $resolution__desktop) {
  .programm {
    width: $width__desktop;
  }
}
