.programm-form {
  @include flex-column;
  width: 100%;
  align-items: center;
  min-height: 1358px;
}

.programm-form__main-caption {
  font-family: $oswald;
  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 13px 0 0 0;
  align-self: flex-start;
}

.programm-form__caption {
  font-family: $oswald;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
}


.programm-form__text-tutorial {
  font-size: 14px;
  line-height: 1.14;
  color: $greyish;
  margin: 21px 0 0 0;
  padding: 0;
}

.programm-form__wrapper {
  @include flex-column;
  width: $block-size-mobil;
  align-items: center;
}

.programm-form__client-info {
  margin: 25px 0 0 0;
}

.programm-form__button {
  padding: 10px 78px 10px 78px;
  text-align: center;
}

.programm-form__client {
  @include flex-column;
  align-items: center;
  width: 100%;
}

@media (min-width: $resolution__tablet) {
  .programm-form {
    align-items: center;
    width: $width__tablet;
    min-height: auto;
    position: relative;
    border-top: none;
  }

  .programm-form__main-caption {
    align-self: flex-start;
    font-size: 60px;
    line-height: 1;
    margin: 0 0 0 0;
    padding: 57px 0 0 0;
  }

  .programm-form__caption {
    font-size: 36px;
  }

  .programm-form__wrapper {
    @include flex-row;
    width: $block-size-tablet;
    justify-content: flex-start;
    padding: 0 30px;
    align-items: flex-start;
    margin-top: 44px;
    margin-bottom: 72px;
  }

  .programm-form__client {
    @include flex-column;
    align-items: center;
  }

  .programm-form__button {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    margin: 10px 0 0 11px;
    padding: 17px 67px 15px 63px;
  }

  .programm-form__text-tutorial {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin: 26px 0 0 60px;
  }
}

@media (min-width: $resolution__desktop) {
  .programm-form {
    width: $block-size-desktop;
    padding: 0 0;
  }

  .programm-form__main-caption {
    margin: 0 0 0 0;
    padding: 67px 0 0 0;
  }

  .programm-form__client {
    @include flex-row;
    width: $block-size-desktop;
    justify-content: space-between;
    align-items: flex-end;
  }

  .programm-form__wrapper {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    width: $block-size-desktop;
    margin: 45px 0 52px 0;
  }

  .programm-form__button {
    padding: 17px 206px 15px 209px;
    margin: 27px 0 30px 2px;
  }

  .programm-form__text-tutorial {
    margin: 0 0 10px 80px;
  }
}
