.programm {
  width: $width__mobil;
}

@media (min-width: $resolution__tablet) {
  .programm {
    width: $width__tablet;
  }
}

@media (min-width: $resolution__desktop) {
  .programm {
    width: $width__desktop;
  }
}
