/*--начало normalize--*/
@import "normalize.css";
/*--конец normalize--*/
/*--подключение шрифтов--*/
@import "fonts.scss";
/*--позиционирование основных блоков страницы--*/
@import "blocks/page";
/*--начало header--*/
@import "blocks/header";
/*--конец header--*/
/*--начало promo--*/
@import "blocks/promo";
/*--конец promo--*/
/*--начало categories--*/
@import "blocks/categories";
/*--конец categories--*/
/*--начало advantages--*/
@import "blocks/advantages";
/*--конец advantages--*/
/*--начало customer--*/
@import "blocks/customer";
/*--конец customer--*/
/*--начало contact--*/
@import "blocks/contact";
/*--конец customer--*/
/*--начало programm--*/
@import "blocks/programm";
/*--конец customer--*/
/*--начало footer--*/
@import "blocks/footer";
/*--конец footer--*/

/*--служебные классы--*/
/*cокрытие элементов сайта*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
