/*шрифт*/
$oswald:"Oswald", "Arial", sans-serif;
$arial:"Arial", sans-serif;

/*цвета*/
$white:#ffffff;
$black__dark:#111111;
$black__lighter:#222222;
$greyish:#444444;
$greyish__light:#f2f2f2;
$greyish__lighter:#e6e6e6;
$color-social__list-border:#d9d9d9;
$color-customer__border:#cdcdcd;
$green:#68b738;
$pink:#ff8282;

/*размеры экрана*/
$width__mobil:320px;
$width__tablet:768px;
$width__desktop:1440px;
